*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.font-red{
    color: red;
}

.font-green{
    color: green;
}

.font-darkblue{
    color: darkblue;
}

.font-orange{
    color: orange;
}

.box{
    border: 1px solid black;
    margin: 1rem;
}